APP_ENV=development
DB_HOST=db
DB_USER=root
DB_PASSWORD=root
DB_NAME=test_task_db
COMMAND_DEV_NODE=npm run dev
COMMAND_DEV_REACT=npm start

PORT_NODE=3000 # inside docker it will run with 3000 but from outside will be accessable with 3001
PORT_REACT=3000

## < React specific configs
REACT_APP_API_BASE_URL=http://localhost:3001/api
REACT_APP_INFURA_PROJECT_ID=2c8ea891aa2e4b4abb81df372f54dda8
## > React specific configs

## < Nodejs specific configs
PASSWORD_SALT_ROUNDS=10
JWT_SECRET=4f3872a1e704604dd71afe7a5f1dddf3a961c3ee6a8ddb0cc99ff76f6453f2e3a944d9623b02e2cbaf76883b09b0819f90c0cbe72dffbbc8f325b58cc9e27786
JWT_EXPIRE=1h
## > Nodejs specific configs